/* .cart-container {
    position: fixed;
    height: 100%;
    width: 20%;
    top:150px;
    right:0;
    background-color: white;;
} */

#cart-container {
    position: fixed;
    height: 100%;
    width: 20%;
    top: 150px;
    right: 0px;
    background-color: white;
    ;
}
