.footer-wrapper {
    height: 300px;
    background: black;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper > div {
    color: whitesmoke;
    font-family: 'Open Sans';
    font-weight: 400;
}

.anchor {
    color: whitesmoke;
    font-family: 'Open Sans';
    font-weight: 400;
}