.profile-button {
    height: 44px;
    width: 44px;
    overflow: hidden;
    position: relative;
}
.profile-button:hover {
    cursor: pointer;
}

.swiper-no-swiping {
    display: flex;
    justify-content: center;
    width: 88px;

}
.swiper-no-swiping > span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;;
}

.swiper-no-swiping {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 175ms ease-in-out
}
.swiper-no-swiping:hover {
    transform: translate3d(-44px, 0px, 0px);
}

.login-header {
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 100%;
}

.header-top {
    width: 100%;
    text-align: center;
}

.header-top:hover {
    cursor: pointer;
}

.login-header-line {
    height: 3px;
    background-color: black;
    width: 50%;
    position: absolute;
    left: 0px;
}

.signup-header-line {
    height: 3px;
    background-color: black;
    width: 50%;
    position: absolute;
    left: 50%;
}


#header-gray {
    background-color: #ccc;
}

.login-signup-body {
    margin-top: 40px;
}

.demo-button {
    background-color: rgb(184, 76, 41);
    color: white;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.demo-button:hover {
    transition-duration: 400ms;
    background-color: rgb(195, 56, 10);
}

#modal-lines {
    height: 1px;
    background-color: rgb(235, 235, 235);
    margin: 20px 0;
    text-align: center;
}


span.or {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: white;
    margin: auto;
    width: 100%;
    align-items: center;
    margin: 5px;
    color: rgb(102, 102, 102);
    display: flex;
    justify-content: center;
}

span.or:before,
span.or:after {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 27%;
}

span.or:before {
    right: 1em;
}

span.or:after {
    left: 1em;
    margin-right: 12px;
}

.login-input {
    width: 100%;
    background-color: none;
}

#login-button {
    background-color: rgb(184, 76, 41);
    color: white;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

#login-button:hover {
    transition-duration: 400ms;
    background-color: rgb(195, 56, 10);
}

.wrapper-first {
    margin-top: 30px;
}

.login-input-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.login-input-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: rgb(102, 102, 102);
}

#login-input {
    background: none;
    border: none;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

input:focus {
    outline: none;
}

#close-modal {
    display: flex;
    justify-content: flex-end;
}

#x {
    margin-top: -20px;
    margin-right: -10px;
}
#close-x:hover {
    cursor: pointer;
}

.modal-errors {
    text-align: center;
    margin-top: 40px;
    margin-bottom: -40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: red;
}

#sign-up-box {
    margin-bottom: 70px;
}