.profile-modal {
    position: absolute;
    z-index: 99;
    top: 75px;
    right:48px;
    /* left: max(1999px); */
    width: fit-content;
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0 20px;
    padding-top: 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px  #6d6d6d70;;
}

.profile-modal>div {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

#close-logout-modal {
    display: flex;
    justify-content: flex-end;
}

#logout-x {
    margin-top: -10px;
}

.profile-modal-curator {
    background: -webkit-linear-gradient(45deg, #d9ab15, #8f2040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-modal-interact {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.profile-modal-interact:hover {
    cursor: pointer;
    color: #9a9a9a;
}

.profile-modal-line {
    height: 1px;
    background-color: #d8d8d8;
}