body {
    padding: 0;
    margin: 0;
}

.carousel {
    width: 100vw;
    height: 390px;
    direction: rtl;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 3;
    position: absolute;
    top: 510px;
}

.coffee-carousel {
    position: absolute;
    top: 460px;
    height: 450px;
}

.carousel.active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.cWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    background: rgb(244, 241, 233);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* width: 600px; */
}

.item-num {
    direction: ltr;
}

.item:hover {
    transition-duration: 300ms;
    box-shadow: 2px 10px 8px 4px rgba(149, 149, 149, 0.18);
    /* cursor: none; */
}

.item:first-child {
    margin-right: 0px !important;
}

.item:last-child {
    margin-left: 0px !important;
}

.item-info {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-title {
    font-size: 20px;
}

.item-num {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.letsgo:hover {
    cursor: pointer;
}

.item-coffee {
    background: rgb(244, 241, 233);
    border-radius: 16px;
    display: grid;
    justify-content: center;
    direction: ltr;
    flex-direction: column;
    border: 1px solid rgba(224, 224, 224, 0.18);
    overflow: hidden;
    /* padding: 12px 18px; */
    /* align-items: center; */
    /* width: 600px; */
}

.item-coffee:hover {
    transition-duration: 300ms;
    box-shadow: 2px 10px 8px 4px rgba(149, 149, 149, 0.18);
    /* cursor: none; */
}

.item-image-wrapper {
    width: 100%;
}

.item-image {
    object-fit: cover;
    width: 100%;
}

.item-title-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    padding: 12px 12px;
    padding-bottom: 50px;
    height: 100%;
}

.coffee-item-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.coffee-item-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 4px;
    text-align: center;
}

.learn-more {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 29px;
    text-align: center;
}

@media (max-width:1100px) {

    .carousel {
        width: 100vw;
        height: 370px;
        direction: rtl;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        z-index: 3;
        position: absolute;
        top: 390px;
    }
    .perfect-cup {
        margin-top: -130px;
    }
}
#cursor > img {
    height: 20px;
    width: 20px;
}
#cursor {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    position: absolute;
    margin-top: -35px;
    margin-left: 85px;
    display: flex;
    align-items: center;
    /* color: grey; */
    background-color: rgb(244, 241, 233);
    font-size: 8px;
    padding: 1px 3px;
}

.hidden {
    visibility: hidden;
    /* visibility: visible; */
}
.visible {
    transition-duration: 300ms;
    visibility:visible;
}