nav {
    z-index: 10;
    position: fixed;
    top: 10px;
    width: 100%;
    left: 0;
    margin-top: -10px;
    background: white;
}

.homepage-navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin: auto;
    width: 100%;
    /* max-width: 1248px; */
    align-items: center;
    z-index: 3;
    padding: 12px 48px;
    pointer-events: none;
    background: white;
    
}

.navbar-logo {
    display: flex;
    font-size: 30px;
    color: black;
    pointer-events: auto;
}

.navbar-links {
    display: flex;
    gap: 50px;
}

.navbar-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    pointer-events: auto;
    padding: 20px 15px;
}

.navbar-link:hover {
    border-bottom: 3px solid black;
}


.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    pointer-events: auto;
}


.navbar-trynow {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    pointer-events: auto;
}
.navbar-trynow-link {
    color: black;
}


.navbar-trynow:hover {
    transition-duration: 200ms;
    cursor: pointer;
    color: rgb(195, 56, 10);
    border: 2px solid rgb(195, 56, 10);
}

.navbar-underline {
    height: 2px;
    background-color: rgb(195, 195, 195);
    margin-top: -3px;
}

.navbar-dropdown {
    background-color: rgba(255, 255, 255, 0.493);
    width: 102%;
    margin-left:-10px;
}

.navbar-dropdown-coffee {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -2px;
}

.navbar-dropdown-coffee-selection {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.navbar-dropdown-coffee-selection:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.login-button:hover {
    cursor: pointer;
}
.login-button {
    pointer-events: auto;
}
